.customer-page-wrapper {
  margin-top: 12vh;
  display: flex;
  gap: 1rem;
  padding: 4rem;
  min-height: 80vh;
}
@media screen and (max-width: 56.25em) {
  .customer-page-wrapper {
    padding-inline: 2rem;
  }
}
@media screen and (max-width: 50em) {
  .customer-page-wrapper {
    gap: 0;
    padding-left: 0;
  }
}
.customer-page-nav {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25%;
}
@media screen and (max-width: 50em) {
  .customer-page-nav {
    width: fit-content;
    background-color: inherit;
  }
}
.customer-page-nav a {
  padding: 1rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: capitalize;
  color: var(--black-color);
}
.customer-page-nav a svg {
  font-size: 2rem;
}
@media screen and (max-width: 50em) {
  .customer-page-nav a p {
    display: none;
  }
}
.customer-page-active-link {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
}
.customer-page-col2 {
  background-color: var(--white-color);
  width: 75%;
}
@media screen and (max-width: 50em) {
  .customer-page-col2 {
    flex: 1;
  }
}
