.customer-page-wrapper {
  margin-top: 12vh;
  display: flex;
  gap: 1rem;
  padding: 4rem;
  min-height: 80vh;
}
@media screen and (max-width: 56.25em) {
  .customer-page-wrapper {
    padding-inline: 2rem;
  }
}
@media screen and (max-width: 50em) {
  .customer-page-wrapper {
    gap: 0;
    padding-left: 0;
  }
}
.customer-page-nav {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25%;
}
@media screen and (max-width: 50em) {
  .customer-page-nav {
    width: fit-content;
    background-color: inherit;
  }
}
.customer-page-nav a {
  padding: 1rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: capitalize;
  color: var(--black-color);
}
.customer-page-nav a svg {
  font-size: 2rem;
}
@media screen and (max-width: 50em) {
  .customer-page-nav a p {
    display: none;
  }
}
.customer-page-col2 {
  background-color: var(--white-color);
  width: 75%;
}
@media screen and (max-width: 50em) {
  .customer-page-col2 {
    flex: 1;
  }
}
.my-account-section {
  display: none;
  /* display: flex; */
  flex-direction: column;
  gap: 1rem;
}
.edit-account-details-section,
.edit-shipping-address-section,
.edit-password-section,
.ordered-products-section,
.review-products-section, .rate-and-review-form {
  display: none;
}
.my-account-section-title,
.edit-account-details-title,
.edit-shipping-address-title,
.edit-password-title,
.ordered-products-section-title,
.review-products-section-title,
.rate-and-review-form-title {
  padding: 0.4rem 1rem;
  border-bottom: 1px solid var(--light-gray-variant2);
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
}
.my-account-section-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
@media screen and (max-width: 56.25em) {
  .my-account-section-body {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
.account-details,
.shipping-address {
  border: 1px solid rgb(182, 181, 181);
}
.account-details-title,
.shipping-address-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  border-bottom: 1px solid var(--light-gray-variant2);
}
.account-details-title p,
.shipping-address-title p {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.account-details-title a,
.shipping-address-title a {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.4rem;
  color: var(--primary-color);
}
.account-details-body,
.shipping-address-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.account-details-body p,
.shipping-address-body p {
  font-size: 1.3rem;
  color: gray;
}
.change-password-link {
  margin-left: 1rem;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  text-transform: capitalize;
  color: var(--primary-color);
}
.edit-account-details-body,
.edit-shipping-address-body {
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 2rem;
}
@media screen and (max-width: 43.75em) {
  .edit-account-details-body,
  .edit-shipping-address-body {
    grid-template-columns: 1fr;
  }
}
.save-account-details-btn,
.save-shipping-address-btn,
.save-new-pass-btn {
  margin-left: 1rem;
  padding: 0.8rem 2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-transform: capitalize;
  border: none;
  cursor: pointer;
}
.edit-password-body {
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.ordered-products-section-body,
.review-products-section-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.ordered-product-card,
.product-to-review-card {
  border: 1px solid rgb(182, 181, 181);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 62.5em) {
  .ordered-product-card,
  .product-to-review-card {
    flex-direction: column;
  }
}
.ordered-product-img {
  width: 8rem;
  height: 8rem;
}
.ordered-product-img img,
.product-to-review-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ordered-product-headline {
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  box-orient: vertical;
  overflow: hidden;
}
.ordered-product-quantity,
.ordered-product-items-total,
.ordered-product-delivery-date,
.ordered-product-pickup-station {
  font-size: 1.3rem;
  text-transform: capitalize;
  color: gray;
}
.ordered-product-pickup-station {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  overflow: hidden;
}
.product-to-review-img {
  width: 10%;
  height: 8rem;
}
.product-to-review-img-wrapper {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 62.5em) {
  .product-to-review-img-wrapper {
    width: 8rem;
    height: 8rem;
  }
  .product-to-review-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.product-to-review-details {
  width: 60%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  overflow: hidden;
}
.product-to-review-link {
  width: 30%;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 62.5em) {
  .product-to-review-link,
  .product-to-review-details {
    justify-content: start;
    width: 100%;
  }
}
.product-to-review-link a {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.product-to-review-link a:hover {
  transition: all, 0.4s;
  background-color: var(--primary-color);
  color: var(--white-color);
}
.rate-and-review-form-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.rate-container-title,
.review-container-title {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid var(--light-gray-variant2);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}
.rate-container-card {
  display: flex;
  padding: 0.8rem;
  gap: 1rem;
}
@media screen and (max-width: 43.75em) {
  .rate-container-card {
    flex-direction: column;
  }
}
.rate-container-card-col1 {
  width: 10rem;
  height: 10rem;
}
.rate-container-card-img {
  width: 100%;
  height: 100%;
}
.rate-container-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rate-container-card-product-headline {
  font-size: 1.4rem;
}
.rate-container-card-col2 svg {
  font-size: 2.4rem;
}
.review-container-body {
  padding: 1.5rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.text-field-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media screen and (max-width: 43.75em) {
  .text-field-container {
    grid-template-columns: 1fr;
  }
}
.text-area-container {
  display: grid;
  grid-template-columns: 1fr;
}
.submit-review-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding-block: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  text-transform: capitalize;
}
.wishlist-section-title{
  padding: 0.4rem 1rem;
  border-bottom: 1px solid var(--light-gray-variant2);
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
}
.wishlist-section-body{
    padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wishlist-section-card{
  padding: .8rem;
  display: flex;
  align-items: center;
    border: 1px solid rgb(182, 181, 181);
}
@media screen and (max-width: 58.75em) {
  .wishlist-section-card {
    flex-direction: column;
  }
}
.wishlist-card-col1{
  width: 12%;
  height: 10rem;
}
@media screen and (max-width: 58.75em) {
  .wishlist-card-col1 {
    width: 100%;
  }
}
.wishlist-card-img{
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 58.75em) {
  .wishlist-card-img {
    width: 10rem;
    height: 10rem;
  }
}
.wishlist-card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wishlist-card-col2{
  width: 58%;
  padding-left: .5rem;
}
@media screen and (max-width: 58.75em) {
  .wishlist-card-col2 {
    width: 100%;
  }
}
.wishlist-card-product-headline{
  font-size: 1.4rem;
  margin-bottom: 2rem;
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  overflow: hidden;
}
.wishlist-card-price{
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 700;
}
.wishlist-card-discount{
  display: flex;
  gap: .5rem;
  align-items: center;
}
.wishlist-card-original-price{
  font-size: 1.4rem;
  text-transform: capitalize;
  color: gray;
  text-decoration: line-through;
}
.wishlist-card-percent-discount{
  padding: .1rem;
  font-size: 1.4rem;
  background-color: var(--primary-color-light);
  color: var(--primary-color);
}
.wishlist-card-col3{
  align-self: flex-end;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
@media screen and (max-width: 58.75em) {
  .wishlist-card-col3 {
    width: 100%;
    align-self: unset;
    justify-content: flex-start;
    margin-top: 1.5rem;
  }
}
.wishlist-card-col3 button{
  padding: .5rem 1rem;
  border: none;
  text-transform: capitalize;
  font-size: 1.4rem;
  cursor: pointer;
}
.wishlist-card-remove-btn{
  background-color: transparent;
  color: var(--primary-color);
}
.wishlist-card-add-btn{
  background-color: var(--primary-color);
  color: var(--white-color);
}
.wishlist-card-remove-btn:hover{
  background-color: var(--primary-color-light);
}