:root {
  --primary-font:"Nunito Sans", sans-serif;
  --primary-color: rgb(210, 105, 30);
  --white-color: white;
  --black-color: black;
  --light-gray-variant1: rgb(230, 223, 220);
  --light-gray-variant2: rgb(243, 236, 232);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  background-color: var(--light-pink);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}